*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    color: #A60311;
    background-color: #f2f2f2;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-top: 40px;
    position: relative;
    height: 73px;
}

a{
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: #A60311;
    transition: 0.3s ease-out;
}

a:hover::after, .proj_box_title:hover::after{
    width: 100%;
}

a:hover, #home_proj_title:hover{
    font-style: normal;
}

#hpt_a{
    width: fit-content;
}

#name{
    font-size: 25px;
    font-weight: 300;
    position: relative;
}

#name:hover, .proj_box_title:hover, button:hover{
    font-style: italic; 
    letter-spacing: 0.08em;
}

#name:hover, a:hover, button:hover{
    font-weight: 500;
}

#name, #footer_cr{
    letter-spacing: 0.1em;
}

.nav_icon{
    display: block;
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}

#list_icon a:hover::after, #footer_icon a:hover::after, #project_img:hover::after, .proj_box a:hover::after{
    width: 0px;
}

.nav_icon:hover, .ft_icon:hover{
    transform: rotate(0deg);
    width: 25.5px;
    height: 25.5px;
    animation: tilt 0.5s;
}

#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ham_line{
    width: 27.5px;
    height: 1px;
    background-color: #A60311;
    margin: 4px 0;
    transition: 0.3s ease;
}

#nav_list{
    list-style: none;
    display: none;   
    position: absolute;
    font-size: 22px;
}

#nav_list, #footer_list{
    color: #A60311;
    font-style: italic;
    letter-spacing: 0.05em;
}

#nav_list li{
    margin: 16px;
}

#list_icon, #footer_icon{
    display: flex;
    flex-direction: row;
}

#nav_list li a, #list_icon, .nav_icon, #nav_list.active{
    background-color: #fdfdfd;
}

#nav_list.active{
    display: flex;
    flex-direction: column;   /* show list */
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 0;
    width: 100%;
    height: 95vh;
}

#hamburger.active .ham_line:nth-child(1){
    transform: translate(0px, 9px) rotate(45deg);
}

#hamburger.active .ham_line:nth-child(2){
    opacity: 0;
}

#hamburger.active .ham_line:nth-child(3){
    transform: translate(0px, -9px) rotate(-45deg);
}

footer{
    padding: 25px;
}

#footer_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 18px;
}

#footer_icon li{
    background-color: #f2f2f2;
    padding-right: 20px;
}

footer #name{
    font-size: 20px;
}

footer ul{
    padding-top: 30px;
}

#footer_list li{
    padding-bottom: 20px;
}

#footer_cr{
    padding-top: 14px;
    font-size: 14px;
    text-align: center;
}

.ft_icon{
    display: block;
    width: 22px;
    height: 22px;
}

.main_cont, #resume_title{
    padding: 20px 25px 35px;
}

.title{
    font-family: "Noto Serif SC", serif;
    font-weight: bold;
    font-size: 10.9vw; /*42px;*/
    padding-bottom: 20px;
}

#title_dev{
    letter-spacing: 0.21em;
}

#my_img{
    width: 340px;
    height: 390px;
    object-fit: cover;
    object-position: 0% 70%;
    padding-bottom: 6px;
    display: block;
    margin: auto;
}

#about{
    font-size: 20px;
    padding-top: 12px;
}

#home_projects{
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#home_proj_title{
    font-size: 5.5vw; /*22px;*/
    font-style: italic;
    letter-spacing: 0.05em;
}

#home_proj_lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
}

#home_projects, #home_proj_title, #home_proj_lists{
    background-color: #e4e4e4;
}

#home_projects{
    padding: 6vw 25px;
}

#home_proj_title{
    font-size: 4.6vw;
}

.proj_box{
    background-color: fdfdfd;
    width: 42.5vw; /*165px;*/
    height: 42.5vw; /*165px;*/
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}

#proj_img_a{
    margin: auto;
}

.proj_box_img{
    object-position: 50% 0%;
    width: 41vw; /*159px;*/
    height: 34vw; /*131px;*/
    margin: auto;
}

.proj_box_img, #project_img{
    opacity: 0.7;
}

.proj_box_img:hover, #project_img:hover{
    opacity: 1;
}

.proj_box_img, #project_img{
    object-fit: cover;
}

.proj_box_title{
    font-size: 3.5vw; /*18px;*/
}

.proj_title_line, .proj_box_icons{
    display: flex;
    flex-direction: row;
}

.proj_title_line{
    margin: auto auto 2vw;
}

.proj_title_line, #project_view, .view_links > p{
    width: 40vw; /*159px;*/
    height: 3.6vw; /*19px;*/
    justify-content: space-between;
}

.proj_box_icons{
    width: 4.6vw; /*18px;*/
    justify-content: end;
}

#resume{
    padding: 5px;
    width: 100%;
}

#projects{
    display: flex;
    flex-direction: column;
}

#project{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 35px;
}

#project_img{
    width: 172px;
    height: 142px;
}

#project_info{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

#project_title{
    align-content: flex-start;
    z-index: 1;
}

#project_title, #project_view{
    margin: 0px 5px;
}

#project_view{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#project_des{
    padding-top: 18px;
}

#project_des{
    font-size: 15px;
    font-weight: 300;
}

.view_links{
    display: flex;
    flex-direction: row;
    font-style: italic;
    letter-spacing: 0.1em;
    justify-content: space-between;
}

.form, #contact_message{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    padding-bottom: 28px;
}

#getintouch{
    font-size: 27px;
}

#contact_message{
    padding-bottom: 60px;
    align-items: center;
    font-size: 19px;
    font-weight: 300;
}

input, textarea{
    border: 1px solid #58141a;
}

label{
    padding-bottom: 8px;
    font-size: 17px;
    font-style: italic;
    text-align: left;
}

input, textarea, label{
    width: 80vw;
}

input{
    height: 39px;
}

textarea{
    height: 190px;
}

.c_msg{
    padding-top: 22px;
}

button{
    width: 90px;
    height: 31px;
    margin: 10px auto;
    border: none;
    background-color: #e4e4e4;
}

label, button{
    letter-spacing: 0.1em;
}

button:hover{
    width: 91px;
    height: 34px;
    background-color: #A60311;
    color: white;
}

@keyframes tilt{
    100%{
        transform: rotate(-10deg);
    }
}

@media (min-width: 540px) {
    #hamburger{
        display: none;
    }

    #nav_list{
        display: flex;
        flex-direction: row;
        right: 25px;
        font-size: 18px;
    }

    #nav_list li a, #list_icon{
        background-color: #f2f2f2;
    }

    #nav_list li{
        margin-right: 0px;
    }

    .nav_icon{
        width: 18px;
        height: 18px;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    #title_jr{
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        letter-spacing: 0.1em;
    }

    #title_dev{
        margin-top: 10vw;
        letter-spacing: 0.08em;
    }

    .title{
        font-size: 7vw;
        display: flex;
        flex-direction: column;
    }

    #my_img{
        float: right;
        width: 38vw;
        height: 55vw;
    }

    #about{
        display: flex;
        font-size: 2vw;
        padding: 4vw 2.8vw 2vw 0vw;
        text-align: right;
    }

    #home_proj_title, #getintouch{
        font-size: 3.4vw;
    }
    
    .proj_box_title, label, #contact_message{
        font-size: 2.8vw;
    }

    .proj_box{
        width: 30vw; 
        height: 30vw;
    }

    .proj_box_img, .proj_title_line{
        width: 29vw;
    }

    .proj_box_img{
        height: 23.5vw; 
    }

    .proj_title_line{
        padding-top: 5px;
    }

    #contact_message{
        margin-bottom: 4vw;
    }

    button{
        font-size: 2.4vw;
        width: 100vw;
        height: 56px;
    }

    #projects{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #project{
        flex-direction: column;
    }

    #project, #project_img, #project_title, #project_view{
        width: 30vw;
    }

    #project_view{
        flex-direction: row;
        margin: 0;
    }

    #project_img{
        height: 25vw;
    }

    #project_info{
        padding: 12px 0px 0px;
    }

    #project_title{
        margin: 0;
    }

    #project_des{
        width: 20vw;
    }

    #project_des_my{
        padding-top: 18px;
        justify-content: end;
    }

    #project_des{
        font-size: 2vw;
        height: 13vw;
        align-self: flex-end;
    }

    .view_links{
        flex-direction: column;
        align-self: flex-end;
        font-size: 1.8vw;
        padding-bottom: 2px;
    }

    .view_links a{
        text-align: right;
        padding: 2px 0px;
    }

    .contact_form{
        display: flex;
        flex-direction: row;
        margin: 25px;
    }

    input, textarea, label{
        width: 38vw;
    }
    
    input{
        height: 30px;
    }
    
    textarea{
        height: 90px;
    }

    label{
        font-size: 2.4vw;
    }

    button{
        width: 14vw;
        height: 5vw;
        font-size: 2vw;
    }

    #contact_message{
        margin: 5vw 10vw;
    }
}

@media (min-width: 900px) {
    #home_proj_title{
        font-size: 3vw;
    }

    .proj_box_title{
        font-size: 2vw;
    }

    .proj_box{
        width: 23vw; 
        height: 23vw;
    }

    .proj_box_img, .proj_title_line{
        width: 22.5vw; 
    }

    .proj_box_img{ 
        height: 17.2vw; 
    }

    .proj_title_line{
        height: 2.8vw; 
        margin-bottom: 1.6vw;
    }

    #project_des, #project_des_my{
        padding-top: 25px;
    }

    input, textarea, label{
        width: 30vw;
    }
    
    input{
        height: 28px;
    }

    label{
        font-size: 1.6vw;
    }

    button{
        width: 10vw;
        height: 3.6vw;
        font-size: 1.6vw;
    }

    button:hover{
        width: 10.2vw;
        height: 3.65vw;
    }

    #getintouch{
        font-size: 2.8vw;
    }
    
    #contact_message{
        font-size: 1.8vw;
    }
}

@media (min-width: 1049px) {
    #my_img{
        height: 46vw;
    }

    #about{
        padding: 4vw 3vw 2vw 6vw;
    }

    #project_des, #project_des_my{
        padding-top: 30px;
    }

    label{
        font-size: 1.2vw;
    }

    button{
        width: 8.8vw;
        height: 3.2vw;
        font-size: 1.2vw;
    }

    button:hover{
        width: 9vw;
        height: 3.32vw;
    }

    #getintouch{
        font-size: 2.4vw;
    }
    
    #contact_message{
        font-size: 1.4vw;
    }
}