*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    color: #A60311;
    background-color: #f2f2f2;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    padding-top: 40px;
    position: relative;
    height: 73px;
}

a{
    text-decoration: none;
}

#name{
    font-size: 25px;
    font-weight: 300;
}

#name, #footer_cr{
    letter-spacing: 0.1em;
}

.nav_icon{
    display: block;
    width: 25px;
    height: 25px;
}

#hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ham_line{
    width: 27.5px;
    height: 1px;
    background-color: #A60311;
    margin: 4px 0;
    transition: 0.3s ease;
}

#nav_list{
    list-style: none;
    display: none;   
    position: absolute;
    font-size: 22px;
}

#nav_list, #footer_list{
    color: #A60311;
    font-style: italic;
    letter-spacing: 0.05em;
}

#nav_list li{
    margin: 16px;
}

#list_icon, #footer_icon{
    display: flex;
    flex-direction: row;
}

#nav_list li a, #list_icon, .nav_icon, #nav_list.active{
    background-color: #fdfdfd;
}

#nav_list.active{
    display: flex;
    flex-direction: column;   /* show list */
    justify-content: center;
    align-items: center;
    top: 70px;
    right: 0;
    width: 100%;
    height: 95vh;
}

#hamburger.active .ham_line:nth-child(1){
    transform: translate(0px, 9px) rotate(45deg);
}

#hamburger.active .ham_line:nth-child(2){
    opacity: 0;
}

#hamburger.active .ham_line:nth-child(3){
    transform: translate(0px, -9px) rotate(-45deg);
}

footer{
    padding: 25px;
}

#footer_list{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 18px;
}

#footer_icon li{
    background-color: #f2f2f2;
    padding-right: 20px;
}

footer #name{
    padding-bottom: 30px;
    font-size: 20px;
}

#footer_list li{
    padding-bottom: 20px;
}

#footer_cr{
    padding-top: 14px;
    font-size: 14px;
    text-align: center;
}

.ft_icon{
    display: block;
    width: 22px;
    height: 22px;
}

.main_cont, #resume_title{
    padding: 20px 25px 35px;
}

.title{
    font-family: "Noto Serif SC", serif;
    font-weight: bold;
    font-size: 42px;
    padding-bottom: 20px;
}

#title_dev{
    letter-spacing: 0.21em;
}

#my_img{
    width: 340px;
    height: 390px;
    object-fit: cover;
    object-position: 0% 70%;
    padding-bottom: 6px;
}

#about{
    font-size: 20px;
    padding-top: 12px;
}

#home_projects{
    padding: 25px;
    display: flex;
    flex-direction: column;
}

#home_proj_title{
    font-size: 22px;
    font-style: italic;
    letter-spacing: 0.05em;
    padding-bottom: 15px;
}

#home_proj_lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#home_projects, #home_proj_title, #home_proj_lists{
    background-color: #e4e4e4;
}

.proj_box{
    background-color: fdfdfd;
    width: 165px;
    height: 165px;
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
}

.proj_box_img{
    background-color: rgb(67, 87, 104);
    width: 159px;
    height: 131px;
    margin: auto;
}

.proj_box_title{
    font-size: 18px;
}

.proj_title_line, .proj_box_icons{
    display: flex;
    flex-direction: row;
}

.proj_title_line{
    margin: auto;
}

.proj_title_line, #project_view, .view_links > p{
    width: 159px;
    height: 19px;
    justify-content: space-between;
}

.proj_box_icons{
    width: 18px;
    height: 18px;
    justify-content: end;
}

#resume{
    padding: 5px;
    width: 100%;
}

#projects{
    display: flex;
    flex-direction: column;
}

#project{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 35px;
}

#project_img{
    width: 172px;
    height: 142px;
    background-color: rgb(52, 101, 144);
}

#project_info{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

#project_title{
    align-content: flex-start;
}

#project_title, #project_view{
    margin: 0px 5px;
}

#project_view{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#project_des_my{
    padding-top: 10px;
}

#project_des{
    padding-top: 18px;
}

#project_des_my, #project_des{
    font-size: 15px;
}

.view_links{
    display: flex;
    flex-direction: row;
    font-style: italic;
    letter-spacing: 0.1em;
}

.view_links a:nth-child(2){
    text-align: right;
    padding-left: 16px;
}

#view_links_pp{
    flex-direction: column;

}

#wf_link{
    padding-top: 5px;
    margin-bottom: 5px;
}

.form, #contact_message{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    padding-bottom: 28px;
}

#getintouch{
    font-size: 27px;
}

#contact_message{
    padding-bottom: 60px;
    align-items: center;
    font-size: 19px;
    font-weight: 300;
}

input, textarea{
    border: 1px solid #58141a;
}

label{
    padding-bottom: 8px;
    font-size: 17px;
    font-style: italic;
}

input, textarea{
    width: 341px;
}

input{
    height: 39px;
}

textarea{
    height: 190px;
}

.c_msg{
    padding-top: 22px;
}

button{
    width: 90px;
    height: 31px;
    margin: 10px auto;
    border: none;
    background-color: #e4e4e4;
}

label, button{
    letter-spacing: 0.1em;
}